body {
  margin: 0;
  font-family: sans-serif;
  background-color: #121212;
  color: white;
}

.container {
  height: 300vh;
  padding: 2rem;
}

.heading {
  font-size: 2rem;
}

.scroll-section {
  margin-top: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  margin-bottom: 2rem;
}

.scroll-text {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;
  max-width: 40ch;
  color: #ffffff;
}
